<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:networkSecurityConfig="@xml/network_security_config"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/restaurantName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.COMP2000Assessment">
        <activity
            android:name=".bookings.Staff_EditBooking_Activity"
            android:exported="false" />
        <activity
            android:name=".bookings.DeleteBooking_Activity"
            android:exported="false" />
        <activity
            android:name=".bookings.Guest_EditBooking_Activity"
            android:exported="false" />
        <activity
            android:name=".bookings.TableNo_ReservationActivity"
            android:exported="false" />
        <activity
            android:name=".bookings.Open_Requests"
            android:exported="false" />
        <activity
            android:name=".bookings.Change_Status"
            android:exported="false" />
        <activity
            android:name=".bookings.Enquiry_Failed_Activity"
            android:exported="false" />
        <activity
            android:name=".menu.Delete_Menu_Item_Activity"
            android:exported="false" />
        <activity
            android:name=".menu.EditMenu_Activity"
            android:exported="false" />
        <activity
            android:name=".menu.Guest_Sides_Activity"
            android:exported="false" />
        <activity
            android:name=".menu.Guest_Drinks_Activity"
            android:exported="false" />
        <activity
            android:name=".menu.Guest_Desserts_Activity"
            android:exported="false" />
        <activity
            android:name=".menu.GuestMainsActivity"
            android:exported="false" />
        <activity
            android:name=".menu.Guest_Menu_Options_Activity"
            android:exported="false" />
        <activity
            android:name=".users.Error_StaffAdd"
            android:exported="false" />
        <activity
            android:name=".users.Staff_Added_Confirmation"
            android:exported="false" />
        <activity
            android:name=".users.New_Staff_Admin"
            android:exported="false" />
        <activity
            android:name=".menu.Error_Add_MenuItem"
            android:exported="false" />
        <activity
            android:name=".bookings.All_Tables_Activity"
            android:exported="false" />
        <activity
            android:name=".menu.Staff_Menu_Activity"
            android:exported="false" />
        <activity
            android:name=".menu.Item_Add_Confirm_Activity"
            android:exported="false" />
        <activity
            android:name=".menu.AddMenuItemActivity"
            android:exported="false" />
        <activity
            android:name=".homepages.StaffDashboard"
            android:exported="false" />
        <activity
            android:name=".terms_conditions.T_C_Activity"
            android:exported="false" />
        <activity
            android:name=".users.SignOutActivity"
            android:exported="false" />
        <activity
            android:name=".settings.Settings"
            android:exported="false" />
        <activity
            android:name=".bookings.MyBookingsActivity"
            android:exported="false" />
        <activity
            android:name=".users.Logout_Activity"
            android:exported="false" />
        <activity
            android:name=".menu.Guest_Starters_Activity"
            android:exported="false" />
        <activity
            android:name=".bookings.Enquiry_Sent_Activity"
            android:exported="false" />
        <activity
            android:name=".bookings.Reservation_Enquiry"
            android:exported="false" />
        <activity
            android:name=".users.Login_Activity"
            android:exported="false" />
        <activity
            android:name=".homepages.GuestHomepage"
            android:exported="false" />
        <activity
            android:name=".users.AccountCreated"
            android:exported="false" />
        <activity
            android:name=".users.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".users.StartUpActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>