<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/restaurantName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.COMP2000Assessment">
        <activity
            android:name=".Guest_EditBooking_Activity"
            android:exported="false" />
        <activity
            android:name=".TableNo_ReservationActivity"
            android:exported="false" />
        <activity
            android:name=".Open_Requests"
            android:exported="false" />
        <activity
            android:name=".Change_Status"
            android:exported="false" />
        <activity
            android:name=".Enquiry_Failed_Activity"
            android:exported="false" />
        <activity
            android:name=".Delete_Menu_Item_Activity"
            android:exported="false" />
        <activity
            android:name=".EditMenu_Activity"
            android:exported="false" />
        <activity
            android:name=".Guest_Sides_Activity"
            android:exported="false" />
        <activity
            android:name=".Guest_Drinks_Activity"
            android:exported="false" />
        <activity
            android:name=".Guest_Desserts_Activity"
            android:exported="false" />
        <activity
            android:name=".GuestMainsActivity"
            android:exported="false" />
        <activity
            android:name=".Guest_Menu_Options_Activity"
            android:exported="false" />
        <activity
            android:name=".Error_StaffAdd"
            android:exported="false" />
        <activity
            android:name=".Staff_Added_Confirmation"
            android:exported="false" />
        <activity
            android:name=".New_Staff_Admin"
            android:exported="false" />
        <activity
            android:name=".Error_Add_MenuItem"
            android:exported="false" />
        <activity
            android:name=".All_Tables_Activity"
            android:exported="false" />
        <activity
            android:name=".Staff_Menu_Activity"
            android:exported="false" />
        <activity
            android:name=".Item_Add_Confirm_Activity"
            android:exported="false" />
        <activity
            android:name=".AddMenuItemActivity"
            android:exported="false" />
        <activity
            android:name=".StaffDashboard"
            android:exported="false" />
        <activity
            android:name=".T_C_Activity"
            android:exported="false" />
        <activity
            android:name=".SignOutActivity"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".MyBookingsActivity"
            android:exported="false" />
        <activity
            android:name=".Logout_Activity"
            android:exported="false" />
        <activity
            android:name=".Guest_Starters_Activity"
            android:exported="false" />
        <activity
            android:name=".Enquiry_Sent_Activity"
            android:exported="false" />
        <activity
            android:name=".Reservation_Enquiry"
            android:exported="false" />
        <activity
            android:name=".Login_Activity"
            android:exported="false" />
        <activity
            android:name=".GuestHomepage"
            android:exported="true" />
        <activity
            android:name=".AccountCreated"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".StartUpActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>